@model List<SummerHouse>
<ul class="collapsible" data-collapsible="accordion">
    @foreach (var house in Model)
    {
        <li>
            <div class="collapsible-header">
                <img src="~/images/Icon_Cabin.png" class="houses-collapsible-header-image" />
                <span class="houses-collapsible-header-text">@house.Name</span>
                <div class="right">
                    <div class="col s1">
                        <form asp-action="Delete" asp-controller="Summerhouse" method="post">
                            <input name="houseId" id="houseId" type="hidden" value="@house.Id" />
                            <button class="btn summerhouse-delete-btn red lighten-1" type="submit">
                                <span>Poista</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s6">

                        <div class="row">
                            <div class="col s1">
                                <i class="material-icons">location_on</i>
                            </div>
                            <div class="col s6">
                                <span class="summerhouse-sub-header">Osoite:</span><br />
                                <span>@house.Address @house.City, @house.PostalCode</span>
                            </div>
                        </div>

                        <div class="row hide-on-small-and-down">
                            <div class="col s12">

                                <a href="~/map/@house.Id" class="btn">
                                    Kartta merkinnät
                                </a>

                            </div>
                        </div>

                    </div>
                    <div id="summerhouse-additional-info" class="col s6">
                        <span class="additional-info-header">Lisätietoja</span>
                        <div class="row">
                            <div class="col m6 s12 additional-info">
                                @if (house.HasBeach)
                                {
                                    <img src="~/images/beach.jpg" class="hide-on-small-only"/>
                                }
                                else
                                {
                                    <img src="~/images/nobeach.png" class="hide-on-small-only"/>
                                }
                                <span class="additional-info-text">
                                    @(house.HasBeach ? "Ranta" : "Ei rantaa")
                                </span>
                            </div>
                            <div class="col m6 s12 additional-info">
                                @if (house.HasElectricity)
                                {
                                    <img src="~/images/electricity.png" class="hide-on-small-only"/>
                                }
                                else
                                {
                                    <img src="~/images/noelectricity.png" class="hide-on-small-only"/>
                                }
                                <span class="additional-info-text">
                                    @(house.HasElectricity ? "Sähkö" : "Ei Sähköä")
                                </span>
                            </div>
                            <div class="col m6 s12 additional-info">
                                @if (house.HasRunningWater)
                                {
                                    <img src="~/images/runningwater.jpg" class="hide-on-small-only"/>
                                }
                                else
                                {
                                    <img src="~/images/norunningwater.png" class="hide-on-small-only"/>
                                }
                                <span class="additional-info-text">
                                    @(house.HasRunningWater ? "Juokseva vesi" : "Ei juoksevaa vettä")
                                </span>
                            </div>
                            <div class="col m6 s12 additional-info">
                                @if (house.HasSauna)
                                {
                                    <img src="~/images/sauna.jpg" class="hide-on-small-only"/>
                                }
                                else
                                {
                                    <img src="~/images/nosauna.png" class="hide-on-small-only" />
                                }
                                <span class="additional-info-text">
                                    @(house.HasSauna ? "Sauna" : "Ei saunaa")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 show-on-small hide-on-med-and-up">
                        <a href="~/map/@house.Id" class="btn btn-block">
                            Kartta merkinnät
                        </a>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>