@model SummerHouse

<div id="map" class="container">
    <h1>Testing GMAP</h1>
    <div id="googleMap" style="width:100%;height:400px;">
    </div>
    <button id="cottage-marker" class="map-button">
        <img src="~/images/Icon_Cabin.png" />
    </button>
    <button id="fish-marker" class="map-button">
        <img src="~/images/fish.svg" />
    </button>
    <button id="net-marker" class="map-button">
        <img src="~/images/fishing-net.png" />
    </button>
    <button id="restore-marker" class="map-button button-hidden">
        <img src="~/images/restore.svg" />
    </button>
    <button id="nothing-selected" class="map-button">
        <img src="~/images/cancel.svg" />
    </button>
</div>
<div id="fish-modal" class="modal">
    <form></form>
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large brown lighten-2" href="~/summerhouse">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>
<script>
    // Array of coordinates for polyline. This is reseted after polyline is "done".
    var markerCoords = [];
    // Array of markers for polyline. This is reseted after polyline is "done".
    var markers = [];
    // Latest polyline which is drawn.
    var latestPolyline;
    // Generated map.
    var gmap;
    // Geocoder so we can get lat and lng from address.
    var geocoder;
    // 0 is that we don't mark anything to map
    // 1 is when we want to place just a marker
    // 2 is when we want to draw polyline
    var activeFunctionality = 0;

    // Click functions for each button.
    $(document).ready(function () {

        $('.modal').modal();

        $('#nothing-selected').click(function () {
            activeFunctionality = 0;
            resetActiveButton();
            $(this).addClass("button-active");
        });

        $('#fish-marker').click(function () {
            activeFunctionality = 1;
            resetActiveButton();
            $(this).addClass("button-active");
        });

        $('#net-marker').click(function () {
            activeFunctionality = 2;
            resetActiveButton();
            $(this).addClass("button-active");
            // Enable extra functionality when we are making net marking.
            $('#restore-marker').addClass("button-visible");
        });
        $('#cottage-marker').click(function () {
            activeFunctionality = 3;
            resetActiveButton();
            $(this).addClass("button-active");
        })
        // This button is for removing latest drawn polyline. If user is making fishing net and accidentally
        // clicks wrong place on map, this button removes that line and draws latest again.
        $('#restore-marker').click(function () {
            if (markerCoords.length > 0) {
                markerCoords.pop();
                markers.pop().setMap(null);
                latestPolyline = drawPolylinesOnMap(markerCoords, gmap);
            }
        });
    });
    // Deactivate all buttons and hide extra functionality button.
    function resetActiveButton() {

        $('#net-marker').removeClass("button-active");
        $('#fish-marker').removeClass("button-active");
        $('#nothing-selected').removeClass("button-active");

        $('#restore-marker').removeClass("button-visible");
        $('#restore-marker').addClass("button-hidden");

    }
    // Function for drawing polyline on map.
    function drawPolylinesOnMap(coordinatesArray, map) {

        var fishingNet = new google.maps.Polyline({
            path: coordinatesArray,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2
        });
        // remove latest polyline so we are not stacking multiple polylines on top of each other.
        if (typeof (latestPolyline) !== "undefined") {
            latestPolyline.setMap(null);
        }

        fishingNet.setMap(map);
        return fishingNet;
    }

    function initMap(centerLocation) {
        var mapProp = {
            zoom: 15,
            center: centerLocation
        }
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        // we need to make a global variable of map. This could be do otherwise but map
        // should be accessible in click functions also.
        gmap = map;

        map.addListener('click', function (event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {

            // If we are doing something else than fishing net.
            // Reset fishing net coords and markers, so next time we make a net
            // last one is not modified.

            if (activeFunctionality !== 2) {
                markerCoords = [];
                markers = [];
                if (latestPolyline) {
                    latestPolyline = new google.maps.Polyline({
                        path: [],
                        strokeColor: "#0000FF",
                        strokeOpacity: 0.8,
                        strokeWeight: 2
                    });
                }
            }
            // If user is doing something else than just scrolling on map.
            // If user is just marking single spots, just add marker. Otherwise add markers and coordinates
            // to array so polyline can be drawn.
            if (activeFunctionality !== 0) {

                var iconImage;
                var markerTitle = "Kalapaikka";
                var contentString = "Placeholder string for infowindow content.";

                if (activeFunctionality === 1) {
                    iconImage = {
                        url: '../images/fishmarker.png',
                        scaledSize: new google.maps.Size(32, 32),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(16, 16),
                    };
                    contentString = "Täältä on tullut kalaa virvelillä";
                }
                else if (activeFunctionality === 2) {
                    iconImage = {
                        url: '../images/fishing-net.png',
                        scaledSize: new google.maps.Size(24, 24),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(12, 12),
                    };
                    markerTitle = "Verkko";
                    contentString = "Verkoilla";
                }
                else if (activeFunctionality === 3) {
                    iconImage = {
                        url: '../images/Icon_Cabin.png',
                        scaledSize: new google.maps.Size(24, 24),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(12, 12),
                    };
                    markerTitle = "Mökki";
                    contentString = "Mökin sijainti, kartan keskipiste.";
                }
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: iconImage,
                    title: markerTitle
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });

                // 2 means polyline
                if (activeFunctionality === 2) {

                    markers.push(marker);
                    markerCoords.push({
                        lat: marker.position.lat(),
                        lng: marker.position.lng()
                    });

                    for (var i = 0; i < markerCoords.length; i++) {

                        if (markerCoords.length > 1) {
                            latestPolyline = drawPolylinesOnMap(markerCoords, map);
                        }
                    }
                }
                // 3 means that user saves cottage location so this is loaded when
                // map is loaded.
                else if (activeFunctionality === 3) {
                    var locationObj =
                        {
                            Latitude: location.lat(),
                            Longitude: location.lng()
                        };
                    $.ajax({
                        method: "POST",
                        contentType: "application/json",
                        url: "/map/location/@Model.Id",
                        data: JSON.stringify(locationObj)
                    })
                }
            }
        }

    }

    // Initialize map.
    function myMap() {

        
        var locationObject = {
            savedLatitude: "@Model.LocationOnMap?.Latitude",
            savedLongitude: "@Model.LocationOnMap?.Longitude"
        };

        // Is summehouse has a user defined location. Else we use address.
        if (locationObject.savedLatitude && locationObject.savedLongitude) {
            var myLatLng =
                {
                    lat: parseFloat(locationObject.savedLatitude),
                    lng: parseFloat(locationObject.savedLongitude)
                };
            console.log(myLatLng)
            initMap(myLatLng);
        }
        else {

            var address = "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)";
            console.log(address);
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)"
            }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                        initMap(results[0].geometry.location);
                    }
                });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpn0Z1ryQ3wukpuD8vBKvEL5GDGBWtb4&callback=myMap"></script>
