@model SummerHouse

<div id="map" class="container">
    <h1>Testing GMAP</h1>
    <div id="googleMap" style="width:100%;height:400px;">
    </div>
    <button id="restore-marker" class="map-button button-hidden">
        <img src="~/images/restore.svg" />
    </button>
    <button id="done-drawing" class="map-button button-hidden">
        <img src="~/images/done.svg" />
    </button>
</div>
<div id="action-select-modal" class="modal bottom-sheet">
    <div class="container">
        <div class="modal-content">
            <h4>Valitse toiminto</h4>
            <div id="fish-marker" class="row modal-action" style="border:1px solid #808080; padding:1em;">
                <div class="col s2">
                    @* for some reason only inline styles working. TODO: FIX THIS *@
                    <img style="position:relative; width:100%; top:5px; height:3em; width:3em;"
                         src="~/images/fish.svg" />
                </div>
                <div class="col s4">
                    <p>Sijoita saaliin sijainti kartalle</p>
                </div>
                <div id="rod-select-container" class="input-field col s3">
                    <select id="rod-select">
                        <option value="" disabled selected>Valitse kalastusväline</option>
                        <option value="1">Onki</option>
                        <option value="2">Virveli</option>
                        <option value="3">Katiska</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
                <div id="fish-select-container" class="input-field col s3" style="height: 150px; overflow-y:auto;">
                    <select id="fish-select" >
                        <option value="" disabled selected>Valitse kala</option>
                        <option value="1">Ahven</option>
                        <option value="2">Hauki</option>
                        <option value="3">Särki</option>
                        <option value="4">Lohi</option>
                        <option value="5">Kuha</option>
                        <option value="6">Lahna</option>
                        <option value="7">Made</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div id="cottage-marker" class="row modal-action" style="border:1px solid #808080; padding:1em;">
                <div class="col s2">
                    @* for some reason only inline styles working. TODO: FIX THIS *@
                    <img style="position:relative; width:100%; top:5px; height:3em; width:3em;"
                         src="~/images/Icon_Cabin.png" />
                </div>
                <div class="col s6">
                    <p>Sijoita mökin sijainti kartalle</p>
                </div>
            </div>
            <div id="net-marker" class="row modal-action" style="border:1px solid #808080; padding:1em;">
                <div class="col s2">
                    @* for some reason only inline styles working. TODO: FIX THIS *@
                    <img style="position:relative; width:100%; top:5px; height:3em; width:3em;"
                         src="~/images/fishing-net.png" />
                </div>
                <div class="col s6">
                    <p>Piirrä verkko kartalle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sulje</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large brown lighten-2" href="~/summerhouse">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>
<script>

    // Click functions for each button.
    $(document).ready(function () {
        // This variable is used in fishingmap.js
        summerhouseId = @Model.Id;
        initializeButtons(summerhouseId);
        loadMarkersOnMap(summerhouseId);
    });

    // Initialize map.
    function myMap() {

        var locationObject = {
            savedLatitude: "@Model.LocationOnMap?.Latitude",
            savedLongitude: "@Model.LocationOnMap?.Longitude"
        };

        // Is summehouse has a user defined location. Else we use address.
        if (locationObject.savedLatitude && locationObject.savedLongitude) {

            var myLatLng =
                {
                    lat: parseFloat(locationObject.savedLatitude),
                    lng: parseFloat(locationObject.savedLongitude)
                };

            var map = initMap(myLatLng);
            PlaceMarkerOnMap(map, locationObject.savedLatitude, locationObject.savedLongitude, "../images/Icon_Cabin.png");
        }
        else {

            var address = "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)";

            geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)"
            }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                        initMap(results[0].geometry.location);
                    }
                });
        }
    }
</script>
<script src="~/js/fishingmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpn0Z1ryQ3wukpuD8vBKvEL5GDGBWtb4&callback=myMap"></script>
