@model SummerHouse

<div id="map" class="container">
    <div id="googleMap" style="width:100%;height:500px;margin-top:1em;">
    </div>
    <button id="restore-marker" class="map-button button-hidden">
        <img src="~/images/restore.svg" />
    </button>
    <button id="done-drawing" class="map-button button-hidden">
        <img src="~/images/done.svg" />
    </button>
</div>
<div id="action-select-modal" class="modal bottom-sheet" style="max-height:80% !important;">
    <div class="container">
        <div class="modal-content">
            <div id="cottage-marker" class="row modal-action">
                <div class="modal-action-subheader col s12">
                    <div class="col s3">
                        @* for some reason only inline styles working. TODO: FIX THIS *@
                        <img src="~/images/Icon_Cabin.png" style="margin-top:1em;" />
                    </div>
                    <div class="col s6">
                        <p>Merkitse mökin paikka</p>
                    </div>
                </div>
                <div class="modal-action-information-text col s12">
                    <p>Merkitse kartalle mökin sijainti.</p>
                    <p>Seuraavalla kerralla kun kartta ladataan mökki löytyy nopeammin ja tarkemmin.</p>
                </div>
            </div>
            <div id="net-marker" class="row modal-action">
                <div class="modal-action-subheader col s12">
                    <div class="col s3">
                        @* for some reason only inline styles working. TODO: FIX THIS *@
                        <img src="~/images/fishing-net.png" style="margin-top:1em;" />
                    </div>
                    <div class="col s6">
                        <p>Piirrä verkko kartalle</p>
                    </div>
                </div>
                <div class="modal-action-information-text col s12">
                    <p>
                        Verkon merkitseminen tapahtuu merkkaamalla verkon kaikki päädyt kartalle.
                    </p>
                    <div class="row">
                        <div class="col s10">
                            <span>
                                Viimeisimmän merkin voi poistaa painamalla "palauta" -painiketta.
                            </span>
                        </div>
                        <div class="col s2">
                            <img src="~/images/restore.svg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10">
                            <span>
                                Lopuksi paina "valmis" -painiketta.
                            </span>
                        </div>
                        <div class="col s2">
                            <img src="~/images/done.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="fish-marker" class="row modal-action">
                @* for some reason only inline styles working. TODO: FIX THIS *@
                <div class="modal-action-subheader col s12">
                    <div class="col s3">
                        <img src="~/images/fish.svg" />
                    </div>
                    <div class="col s6">
                        <p class="modal-action-subheader-text">
                            Lisää kala
                        </p>
                    </div>
                </div>
                <div id="rod-select-container" class="input-field col s12">
                    <select id="rod-select">
                        <option value="" disabled selected>Valitse kalastusväline</option>
                        <option value="1">Onki</option>
                        <option value="2">Virveli</option>
                        <option value="3">Katiska</option>
                    </select>
                </div>
                <div id="fish-select-container" class="input-field col s12">
                    <select id="fish-select">
                        <option value="" disabled selected>Valitse kala</option>
                        <option value="1">Ahven</option>
                        <option value="2">Hauki</option>
                        <option value="3">Särki</option>
                        <option value="4">Lohi</option>
                        <option value="5">Kuha</option>
                        <option value="6">Lahna</option>
                        <option value="7">Made</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sulje</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large brown lighten-2" href="~/summerhouse">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>
<script>

    // Click functions for each button.
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '20%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
        }
        );
        $('#rod-select').material_select();
        $('#fish-select').material_select();
        // This variable is used in fishingmap.js
        summerhouseId = @Model.Id;
        initializeButtons(summerhouseId);
        loadMarkersOnMap(summerhouseId);
    });

    // Initialize map.
    function myMap() {

        var locationObject = {
            savedLatitude: "@Model.LocationOnMap?.Latitude",
            savedLongitude: "@Model.LocationOnMap?.Longitude"
        };

        // Is summehouse has a user defined location. Else we use address.
        if (locationObject.savedLatitude && locationObject.savedLongitude) {

            var myLatLng =
                {
                    lat: parseFloat(locationObject.savedLatitude),
                    lng: parseFloat(locationObject.savedLongitude)
                };

            var map = initMap(myLatLng);
            PlaceMarkerOnMap(map, locationObject.savedLatitude, locationObject.savedLongitude, "../images/Icon_Cabin.png");
        }
        else {

            var address = "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)";

            geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': "@(Html.Raw(Model.Address)), @(Model.City), @(Model.PostalCode)"
            }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                        initMap(results[0].geometry.location);
                    }
                });
        }
    }
</script>
<script src="~/js/fishingmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpn0Z1ryQ3wukpuD8vBKvEL5GDGBWtb4&callback=myMap"></script>
